$error-color: #f25f25;
$border-color: #c1c5c8;
$border-focused-color: rgb(76, 154, 255);

.label {
  color: #474646;
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding-bottom: 6px;
  user-select: none;
}

.inputWrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid;
  border-radius: 3px;
  border-color: $border-color;
  height: 46px;
  width: 100%;
  box-sizing: border-box;
  background: white;
  cursor: text;
}

.inputWrapper:focus-within {
  border-color: $border-focused-color;
}

.innerInputWrapper {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

.elementBeforeInput {
  margin-inline-end: 8px;
  display: flex;
  align-items: center;
}

.inputPrefix {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px 0px 0px 3px;
  font-size: 1em;
  height: 100%;
}

.input {
  color: #000;
  font-size: 1em;
  outline: none;
  box-sizing: border-box;
  font-family: inherit;
  border: 0;
  padding: 0;
  width: 100%;
  position: relative;
  height: 100%;
}

.wrapper {
  padding: 4px 0 4px 0;
}

.inputWithPrefix {
  border-radius: 0px 3px 3px 0px;
}

.error {
  border-color: $error-color;
}

.errorMessage {
  display: block;
  color: $error-color;
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-top: 5px;
  min-height: 20px;
}

.errorMessageVisible {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.requiredSymbol {
  color: $error-color;
  margin-left: 2px;
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
