$error-color: #f25f25;
$border-color: #c1c5c8;

.label {
  color: #474646;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding-bottom: 6px;
  user-select: none;
}

.inputWrapper {
  display: flex;
}

.inputPrefix {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px 0px 0px 3px;
  border: 1px solid $border-color;
  border-right: 0px;
  font-size: 1em;
}

.input {
  border: 1px solid $border-color;
  border-radius: 3px;
  height: 46px;
  padding: 0 10px;
  color: #000;
  font-size: 1em;
  outline: none;
  min-width: 50px;
  max-width: 635px;
  box-sizing: border-box;
  font-family: inherit;
}

.inputWithPrefix {
  border-radius: 0px 3px 3px 0px;
}

.full {
  width: 100%;
}

.input:focus {
  border-color: rgba(82, 168, 236, 0.9);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(82 168 236 / 60%);
  outline: 0;
}

.error {
  border-color: $error-color;
}

.errorMessage {
  display: block;
  color: $error-color;
  margin: 0;
  padding: 0;
  font-size: 12px;
  margin-top: 5px;
  min-height: 20px;
}

.errorMessageVisible {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.requiredSymbol {
  color: $error-color;
  margin-left: 2px;
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
