.wrapper {
  margin-top: 60px;
  margin-left: 240px;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.headerWrapper {
  margin-bottom: 20px;
}

.header {
  font-weight: lighter;
  margin-top: 5px;
  font-size: 27px;
}

.subHeader {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 16px;
}

.contentLine {
  height: 1px;
  width: 100%;
  background: rgba(9, 30, 66, 0.15);
}

.content {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.innerContent {
  flex: 1 1 auto;
}

.innerHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
