.wrapper {
  margin-top: 60px;
  margin-left: 240px;
  padding-top: 80px;
  width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.headerWrapper {
  margin-bottom: 30px;
}

.header {
  font-weight: lighter;
}

.contentLine {
  height: 1px;
  width: 100%;
  background: rgba(9, 30, 66, 0.15);
}

.content {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.innerContent {
  flex: 1 1 auto;
}
