.sideNavigation {
  z-index: 1;
}

.navigation {
  width: 200px;
  height: 100%;
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
}

.linksContainer {
  width: 100%;
}

.divider {
  color: rgb(107, 119, 140);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 12px;
  margin: 32px 0px 8px;
  font-size: 14px;
}

.divider:first-child {
  margin-top: 0;
}
