.breadcrumbItem {
  display: flex;
  color: #838d97;
}

.breadcrumbItem:not(:last-child)::after {
  padding: 0px 8px;
  content: '/';
  text-align: center;
}

.link {
  color: #838d97;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
