$select-color: #306faf;
$select-background: #e7f3ff;

.content {
  display: flex;
  align-items: center;
  height: 42px;
  border-radius: 5px;
  padding: 0px 12px;
  text-align: left;
  cursor: pointer;
}

.content:hover {
  color: $select-color;
  background: $select-background;
}

.contentSelected {
  color: $select-color;
  background: $select-background;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon {
  display: flex;
  align-items: center;
  color: rgba(9, 30, 66, 0.3);
}

.text {
}
