.buttonWrapper {
  margin-top: 5px;
}

.loginErrorWrapper {
  margin-bottom: 15px;
  background-color: #fbcfbd;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  align-items: center;
  color: #241c15;
  line-height: 1.5em;
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
